Avengers_bot/config.py
Avengers_bot/*.session
Avengers_bot/*.session-journal
Avengers_bot/config.ini
log.txt
*.pyc
.idea/
.project
.pydevproject
.directory
.vscode
Avengers_bot/modules/helper_funcs/temp.txt
Avengers_bot/elevated_users.json
start-3.6.bat
*.session
kangsticker.png
venv
env
Avengers.session-journal
updates.txt
*.exe
